@page
@model Link_with_Dream.Areas.Identity.Pages.Account.Manage.ProfilePictureModel
@{
    ViewData["Title"] = "ProfilePicture";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="col-md-6 offset-md-3">

    <img src="~/Images/@Model.ProPic" class="shadow-sm align-center" style="width:100%; height:350px;" />
</div> <br />
<div class="col-md-12">
    <form method="post" enctype="multipart/form-data" id="profile-form">
        <div class="form-group custom-file">
            <div class="img-thumbnail" style="width:100%;">
                <div class="btn btn-light btn-sm">
                    <input asp-for="Input.ProfilePicture" required>
                </div>
                <button type="submit" class="btn btn-primary" style="float:right;">Change</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}