@model Link_with_Dream.Models.Company

@{
    ViewData["Title"] = "EditOptional";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4>@Model.Name</h4>
        <hr />
        <form asp-action="EditOptional">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <textarea asp-for="About" class="form-control text-justify" rows="6"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Services" class="control-label"></label>
                <textarea asp-for="Services" class="form-control text-justify" rows="6"></textarea>
                <span asp-validation-for="Services" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="CaseStudy" class="control-label"></label>
                <textarea asp-for="CaseStudy" class="form-control text-justify" rows="6"></textarea>
                <span asp-validation-for="CaseStudy" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
