@model Link_with_Dream.Models.AcademicQualification

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6 offset-md-3 ">
        <h4>Add New Academic Qualification</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExamName" class="control-label"></label>
                <input asp-for="ExamName" class="form-control" />
                <span asp-validation-for="ExamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Institute" class="control-label"></label>
                <input asp-for="Institute" class="form-control" />
                <span asp-validation-for="Institute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Board" class="control-label"></label>
                <input asp-for="Board" class="form-control" />
                <span asp-validation-for="Board" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassingYear" class="control-label"></label>
                <input asp-for="PassingYear" class="form-control" />
                <span asp-validation-for="PassingYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control" value="@ViewBag.UserId" hidden />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" />     This will be shown in public
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <a asp-controller="UserProfile" asp-action="AcademicQualification" class="btn btn-outline-success btn-sm">Back to Profile</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
